html{
    height: 100%;
    width: 100%;
}

body{
    margin-top:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(241, 241, 241);
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
    text-decoration: none;
}

nav{
    color:  black;
    background-color: lightblue;
    font-size: 15px, auto;
    font-weight: bold;
    word-spacing: 30px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a:hover{
    color: rgb(67, 67, 67);
}

#logo{
    width: 200px;
    height: 80px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#main{
    background-color: white;
    width: 80%;
    background-clip: content-box;
    vertical-align: top;
    margin: auto;
}

header {
    padding-top: 10px;
}

button{
    opacity: 1;
    border-width: 1px;
}


.topbar button{
    margin-right: 10px;
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}

footer{
    text-align: center;
}

.social{
    vertical-align: top;
    margin: auto;
}

.social img{
    width: 40px;
    height: 40px;
}

.info{
    font-size: 20px;
}

#breaking{
    background-color: red; 
    background-clip: content-box; 
    margin-left: 20px;
    margin-right: 20px;
    border-style: solid;
    border-width: 1px;
    height:40px;
}